{{#each activities as |activity|}}
  {{log activity}}
  <section data-id="{{activity.id}}">
    <h6>Sport:</h6>
    <h3>
      Sport: {{limit activity.sport 15}}
    </h3>
    <h3>
      {{limit activity.sport 15}}
    </h3>

    <button class='btn btn-danger delete-activity' data-id="{{activity.id}}">Delete</button>
    <button class='btn btn-danger' data-id="{{activity.id}}">Update</button>
    <!-- {{> partial}} -->
  </section>

{{/each}}


{{!---
{{#each books as |book|}}
  {{log book}}
  <section data-id="{{book.id}}">
    <h6>Title:</h6>
    <h3>
      {{limit book.title 15}}
    </h2>
    <h6>Author:</h6>
    <p>
      {{#if book.author}}
        {{book.author}}
      {{else}}
        No author provided.
      {{/if}}
    </p>
    <button class='btn btn-danger' data-id="{{book.id}}">Delete</button>
    <!-- {{> partial}} -->
  </section>

{{/each}}--}}
